<aside #aside class="overflow-hidden py-4" [class]="collapsed ? 'sidebar-collapsed': ''">
  <!-- Sidebar Menu -->
  <div class="mt-md-5 py-2 py-md-0 px-4 px-md-0">
    <i [class]="collapsed ? 'fa-solid fa-chevron-right' : 'fa-solid fa-chevron-left'" *ngIf="!arrowVisibility"
      class="position-absolute end-0 top-0 fa-2x bg-main-background p-2 text-white main-transition rounded-bottom-1" (click)="collapsing()"
      role="button"></i>
    <ul class="list-unstyled d-flex flex-md-column justify-content-center justify-content-md-start gap-md-3 gap-2 mb-0">
      <!-- Loop through menu items -->
      <ng-container *ngFor="let item of menu">
        <!-- Display active menu items -->
        <li *ngIf="item.isActive" routerLinkActive="active-li">
          <!-- Router Link -->
          <a class="text-decoration-none d-flex text-center" [routerLink]="item.link">
            <!-- Icon -->
            <span>
              <i [class]="item.icon" class="main-transition"></i>
            </span>
            <!-- Text with opacity transition -->
            <span [class]="(collapsed || textLinkVisibility) ? 'opacity-0 d-none' : 'opacity-100 d-inline' "
              class="main-transition">{{
              item.text }}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</aside>
