<section>
  <table class="table table-striped">
    <thead class="bg-info">
      <tr [ngSwitch]="tableDefinitionText">
        <th *ngFor="let header of tableHeaders">{{ header }}</th>
      </tr>
    </thead>

    <tbody>
      <ng-container [ngSwitch]="tableDefinitionText">
        <ng-container *ngSwitchCase="'projects'">
          <tr *ngFor="let tableBody of tableBodyContentOfProjects?.data">
            <td>{{ tableBody.title }}</td>
            <td>{{ tableBody.description.slice(0, 15) }}</td>
            <td>
              <span *ngIf="tableBody.task.length">
                <ng-container *ngFor="let task of tableBody.task.slice(0, 3); let last = last">
                  {{ task.title }}<span *ngIf="!last">,</span>
                </ng-container>
              </span>
              <span class="badge bg-secondary" *ngIf="!tableBody.task.length">No Tasks Yet</span>
            </td>
            <td>{{ tableBody.creationDate | date: 'short' }}</td>
            <td>{{ tableBody.modificationDate | date: 'short' }}</td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="menu" class="text-white position-relative z-3"
                aria-label="Example icon-button with a menu">
                <mat-icon class="text-black">keyboard_arrow_down</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editCategory.emit(tableBody.id)">
                  <mat-icon class="main-green-color">edit_square</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item type="button" (click)="delete.emit(tableBody.id)">
                  <mat-icon class="main-green-color">delete</mat-icon>
                  <span>Delete</span>
                </button>
                <button mat-menu-item type="button" (click)="view.emit(tableBody.id)">
                  <mat-icon class="main-green-color">visibility</mat-icon>
                  <span>View</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </ng-container>

        <ng-container *ngSwitchCase="'Tasks'">
          <tr *ngFor="let tableBody of tableBodyContentOfTasks?.data">
            <td>{{ tableBody.title }}</td>
            <td>
              <span class="status text-center w-50" [ngClass]="{
                'toDo': tableBody.status == 'ToDo',
                'inProgress': tableBody.status == 'InProgress',
                'done': tableBody.status == 'Done'
              }">
                {{ tableBody.status }}
              </span>
            </td>
            <td>{{ tableBody.description }}</td>
            <td>{{ tableBody.employee.userName }}</td>
            <td>{{ tableBody.project.title }}</td>
            <td>{{ tableBody.creationDate | date: 'short' }}</td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="menu" class="text-white position-relative z-3"
                aria-label="Example icon-button with a menu">
                <mat-icon class="text-black">keyboard_arrow_down</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editCategory.emit(tableBody.id)">
                  <mat-icon class="main-green-color">edit_square</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item type="button" (click)="delete.emit(tableBody.id)">
                  <mat-icon class="main-green-color">delete</mat-icon>
                  <span>Delete</span>
                </button>
                <button mat-menu-item type="button" (click)="view.emit(tableBody.id)">
                  <mat-icon class="main-green-color">visibility</mat-icon>
                  <span>View</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </ng-container>

        <ng-container *ngSwitchCase="'Users'">
          <tr *ngFor="let tableBody of tableBodyContentOfUsers?.data">
            <td>{{ tableBody.userName }}</td>
            <td>
              <span class="status isActivated text-center w-50" *ngIf="tableBody.isActivated">Active</span>
              <span class="status notActivated text-center w-50" *ngIf="!tableBody.isActivated">Not Active</span>
            </td>
            <td>{{ tableBody.phoneNumber }}</td>
            <td>{{ tableBody.email }}</td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="menu" class="text-white position-relative z-3"
                aria-label="Example icon-button with a menu">
                <mat-icon class="text-black">keyboard_arrow_down</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item type="button" (click)="block.emit(tableBody.id)">
                  <mat-icon class="main-green-color" *ngIf="!tableBody.isActivated">notifications</mat-icon>
                  <mat-icon class="main-green-color" *ngIf="tableBody.isActivated">notifications_off</mat-icon>
                  <span *ngIf="tableBody.isActivated">unBlock</span>
                  <span *ngIf="!tableBody.isActivated">Block</span>
                </button>
                <button mat-menu-item type="button" (click)="view.emit(tableBody.id)">
                  <mat-icon class="main-green-color">visibility</mat-icon>
                  <span>View</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>

  <mat-paginator *ngIf="totalRecords" #paginator class="demo-paginator" (page)="handlePageEvent($event)"
    [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]" [pageIndex]="pageIndex"
    aria-label="Select page">
  </mat-paginator>
</section>
