<section class="d-flex flex-column justify-content-around gap-5 " >
  <!-- Top Section -->
  <article class="top-section rounded-3 overflow-hidden px-5 ">
    <h2 class="text-white">Welcome <span>{{useName}}</span></h2>
    <p class="text-white">You can add project and assign tasks to your team</p>
  </article>

  <!-- Bottom Section -->
  <article *ngIf="isManger()"
    class="bottom-section d-flex flex-lg-row flex-column gap-4 justify-content-md-around align-items-md-center position-relative">
    <!-- Tasks Section -->
    <div class="p-2 shadow bg-white rounded-3 pe-3" >
      <div class="title-content">
        <h3 class="fw-bold"> Tasks</h3>
      </div>
      <div>
        <!-- Chart for tasks -->
        <!-- <div [chart]="tasksChart" class="w-100"></div> -->
        <canvas id="projectTaskChart" width="500" height="300"></canvas>
      </div>
    </div>

    <!-- Users Section -->
    <div class="p-2 shadow bg-white rounded-3 pe-3" >
      <div class="title-content">
        <h3 class="fw-bold">Users</h3>
      </div>
      <div>
        <!-- Chart for users -->
        <canvas id="userStatusChart" width="500" height="300"></canvas>
      </div>
    </div>
  </article>
  <div class="d-flex justify-content-center">
    <article  *ngIf="isEmoloyee()" class="w-25" >
      <!-- userTasks -->
      <div class="title-content" *ngIf="this.zeroCount<2">
         <h3 class="fw-bold">My Tasks:</h3>
      </div>
      <!-- charts for User -->
      <div class="">
        <canvas id="TasksEmployee" width="500" height="300"></canvas>

      </div>
  </article>
  </div>

</section>
