<section>
  <article class="d-flex flex-column gap-5">
    <h2>Forget Password</h2>

    <!-- Verification form -->
    <form [formGroup]="forgetForm" (ngSubmit)="onVerifyAccount(forgetForm)">
      <div class="row">
        <div class="col-md-12">
          <div>
            <!-- Email input -->
            <mat-form-field class="d-block">
              <mat-label>E-Mail</mat-label>
              <input matInput placeholder="Please Enter Your E-Email" formControlName="email">
              <!-- Error message for email field -->
              <mat-error *ngIf="forgetForm.get('email')?.touched && forgetForm.get('email')?.getError('required')">
                Email is Required
              </mat-error>
              <mat-error *ngIf="forgetForm.get('email')?.touched && forgetForm.get('email')?.getError('email')">
                Please enter a valid email address.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <button class="primary mt-3">Save</button>
      </div>
    </form>

  </article>
</section>
