<nav class="d-flex justify-content-between main-box-shadow align-items-center bg-white w-100 py-2 px-lg-5 px-md-3 px-sm-2 px-0">
  <figure class="figure-image mb-0">
    <img src="../../../../assets/images/logo-dark.png" class="" alt="logo">
  </figure>
  <div class="user-content d-flex align-items-center">
    <div class="d-flex align-items-center gap-lg-4 gap-md-3 gap-sm-2 gap-1 justify-content-end">
      <i class="fa-solid fa-bell fa-2x main-text-color border-end px-4"></i>
      <figure class="w-25 mb-0 text-end">
        <img [src]="currentUserData.imagePath ? imgBaseUrl + currentUserData.imagePath : emptyUserImage"
          class="rounded-circle" alt="profile image">
      </figure>
      <div class="user">
        <p class="mb-0 fw-bold">{{ currentUserData.userName }}</p>
        <p class="mb-0 text-secondary"> {{ currentUserData.email }} </p>
      </div>
      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="text-white position-relative z-3"
          aria-label="Example icon-button with a menu">
          <mat-icon class="text-black">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon class="main-green-color">logout</mat-icon>
            <span>Logout</span>
          </button>
          <button mat-menu-item type="button" [routerLink]="'/auth/change-password'">
            <mat-icon class="main-green-color">lock</mat-icon>
            <span>Change Password</span>
          </button>
          <button mat-menu-item type="button" [routerLink]="'/dashboard/update-profile'">
            <mat-icon class="main-green-color">update</mat-icon>
            <span>Update Profile</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</nav>
