<section>
  <article class="d-flex flex-column gap-5">
    <h2>Verify</h2>

    <!-- Verification form -->
    <form [formGroup]="verifyForm" (ngSubmit)="onVerifyAccount(verifyForm)">
      <div class="row">
        <div class="col-md-12">
          <div>
            <!-- Email input -->
            <mat-form-field class="d-block">
              <mat-label for="email" >E-Mail</mat-label>
              <input matInput id="email"  placeholder="Please Enter Your E-Email" formControlName="email">
              <!-- Error message for email field -->
              <mat-error *ngIf="verifyForm.get('email')?.touched && verifyForm.get('email')?.getError('required')">
                Email is Required
              </mat-error>
              <mat-error *ngIf="verifyForm.get('email')?.touched && verifyForm.get('email')?.getError('email')">
                Please enter a valid email address.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12">
          <div>
            <!-- Code input -->
            <mat-form-field class="d-block" appearance="fill">
              <mat-label for="code" >Code</mat-label>
              <input matInput id="code"  placeholder="Enter OTP" formControlName="code">
              <!-- Error message for code field -->
              <mat-error *ngIf="verifyForm.get('code')?.touched && verifyForm.get('code')?.getError('required')"> Code
                is
                Required </mat-error>
              <mat-error *ngIf="verifyForm.get('code')?.touched && verifyForm.get('code')?.getError('minlength')"> Code
                must be 4 digits long. </mat-error>
              <mat-error *ngIf="verifyForm.get('code')?.touched && verifyForm.get('code')?.getError('maxlength')"> Code
                must be 4 digits long. </mat-error>
            </mat-form-field>
          </div>
        </div>

        <button class="primary mt-3" [disabled]="verifyForm.invalid">Save</button>
      </div>
    </form>

  </article>
</section>
