<!-- <div class="row justify-content-center">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="card-item">
      <div class="cover item-a">
        <h1>{{ viewedItemDetails.title }}</h1>
        <div class="card-back">
          <p class="description"> {{ viewedItemDetails.description }} </p>
          <a [routerLink]="backTo">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="card mx-auto px-5 py-3 w-75">
  <h2></h2>
  <div *ngIf="navigatedFrom == 'projects'" class="card-body d-flex flex-column gap-3">
    <h3 class="card-title "><span class="fw-bolder">Title: </span>{{ viewedItemDetails.title }}</h3>
    <p class="card-text w-50"> <span class="fw-bolder ">Description: </span> {{ viewedItemDetails.description }} </p>

    <p class="card-text-time fw-bolder"> Creation Date: <span>{{ viewedItemDetails.creationDate | date : 'short'
        }}</span> </p>
    <p class="card-text-time fw-bolder"> Modification Date: <span>{{ viewedItemDetails.modificationDate | date : 'short'
        }}</span> </p>

    <button [routerLink]="backTo" class="card-link dark-outline fs-6 py-1 px-2 rounded-1 mt-4">Go Back</button>
  </div>

  <div *ngIf="navigatedFrom == 'tasks'" class="card-body d-flex flex-column gap-3">
    <h3 class="card-title "><span class="fw-bolder">Title: </span>{{ viewTaskDetails?.title }}</h3>
    <p class="card-text w-50"> <span class="fw-bolder ">Description: </span> {{ viewTaskDetails.description }} </p>
    <p class="card-text w-50"> <span class="fw-bolder ">Status: </span> <span
        class="status"
        [ngClass]="{'toDo': viewTaskDetails.status == 'ToDo', 'inProgress': viewTaskDetails.status == 'InProgress', 'done': viewTaskDetails.status == 'Done'}">{{
        viewTaskDetails.status }}</span> </p>
    <p class="card-text w-50"> <span class="fw-bolder ">User: </span> {{ viewTaskDetails.employee.userName }} </p>
    <p class="card-text w-50"> <span class="fw-bolder ">Project: </span> {{ viewTaskDetails.project.title }} </p>

    <p class="card-text-time fw-bolder"> Creation Date: <span class="fw-normal">{{ viewTaskDetails?.creationDate |
        date : 'short'
        }}</span> </p>
    <p class="card-text-time fw-bolder"> Modification Date: <span class="fw-normal">{{
        viewTaskDetails.modificationDate | date : 'short'
        }}</span> </p>

    <div>
      <button [routerLink]="backTo" class="card-link dark-outline fs-6 py-1 px-2 rounded-1 mt-4">Go Back</button>
    </div>
  </div>

</div>
