.content {
  border: 1px solid #00000030;
  border-radius: 5px;
}

button i {
  font-size: 12px;
  margin-right: 10px;
}

button:hover i {
  animation: animateIcon 0.8s linear infinite;
}

@keyframes animateIcon {
  0%, 100% {
    transform: translateX(0)
  }

  50% {
    transform: translateX(5px);
  }
}

figure img {
  aspect-ratio: 1 / 1 !important;
}

.w-15 {
  width: 15%;
}
