<section>
  <div class="grid px-3">
    <ng-container [ngSwitch]="tableDefinitionText">

      <ng-container *ngSwitchCase="'projects'">
        <div class="card bg-white main-box-shadow" *ngFor="let tableBody of tableBodyContentOfProjects?.data">
          <span class="icon">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.2" stroke-linecap="round"
              stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4.5 9.5V5.5C4.5 4.94772 4.94772 4.5 5.5 4.5H9.5C10.0523 4.5 10.5 4.94772 10.5 5.5V9.5C10.5 10.0523 10.0523 10.5 9.5 10.5H5.5C4.94772 10.5 4.5 10.0523 4.5 9.5Z" />
              <path
                d="M13.5 18.5V14.5C13.5 13.9477 13.9477 13.5 14.5 13.5H18.5C19.0523 13.5 19.5 13.9477 19.5 14.5V18.5C19.5 19.0523 19.0523 19.5 18.5 19.5H14.5C13.9477 19.5 13.5 19.0523 13.5 18.5Z" />
              <path d="M4.5 19.5L7.5 13.5L10.5 19.5H4.5Z" />
              <path
                d="M16.5 4.5C18.1569 4.5 19.5 5.84315 19.5 7.5C19.5 9.15685 18.1569 10.5 16.5 10.5C14.8431 10.5 13.5 9.15685 13.5 7.5C13.5 5.84315 14.8431 4.5 16.5 4.5Z" />
            </svg>
          </span>
          <div class="d-flex flex-column gap-2">
            <div class="d-flex justify-content-between align-items-center">
              <h4>{{ tableBody.title }}</h4>
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="text-black position-relative z-3"
                  aria-label="Example icon-button with a menu">
                  <mat-icon class="text-black">keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="editCategory.emit(tableBody.id)">
                    <mat-icon class="main-green-color">edit_square</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item type="button" (click)="delete.emit(tableBody.id)">
                    <mat-icon class="main-green-color">delete</mat-icon>
                    <span>Delete</span>
                  </button>
                  <button mat-menu-item type="button" (click)="view.emit(tableBody.id)">
                    <mat-icon class="main-green-color">visibility</mat-icon>
                    <span>View</span>
                  </button>
                </mat-menu>
              </div>
            </div>
            <p class="m-0">
              {{ tableBody.description.slice(0, 15) }}
            </p>
            <p class="m-0">
              <span *ngIf="tableBody.task.length" class="d-flex gap-1">
                <ng-container *ngFor="let task of tableBody.task.slice(0, 2); let last = last">
                  <span class="text-white rounded-2 tasks-span"> {{ task.title }} </span>
                </ng-container>
              </span>
              <span class="badge bg-secondary" *ngIf="!tableBody.task.length">No Tasks Yet</span>
            </p>
            <p class="m-0 d-flex justify-content-between align-items-center fs-6 time">
              <span>{{ tableBody.creationDate | date: 'short' }}</span>
              <span>{{ tableBody.modificationDate | date: 'short' }}</span>
            </p>
          </div>
          <div class="shine"></div>
          <div class="background">
            <div class="tiles">
              <div class="tile tile-1"></div>
              <div class="tile tile-2"></div>
              <div class="tile tile-3"></div>
              <div class="tile tile-4"></div>

              <div class="tile tile-5"></div>
              <div class="tile tile-6"></div>
              <div class="tile tile-7"></div>
              <div class="tile tile-8"></div>

              <div class="tile tile-9"></div>
              <div class="tile tile-10"></div>
            </div>

            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'Tasks'">
        <div class="card bg-white main-box-shadow" *ngFor="let tableBody of tableBodyContentOfTasks?.data">
          <span class="icon">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.2" stroke-linecap="round"
              stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4.5 9.5V5.5C4.5 4.94772 4.94772 4.5 5.5 4.5H9.5C10.0523 4.5 10.5 4.94772 10.5 5.5V9.5C10.5 10.0523 10.0523 10.5 9.5 10.5H5.5C4.94772 10.5 4.5 10.0523 4.5 9.5Z" />
              <path
                d="M13.5 18.5V14.5C13.5 13.9477 13.9477 13.5 14.5 13.5H18.5C19.0523 13.5 19.5 13.9477 19.5 14.5V18.5C19.5 19.0523 19.0523 19.5 18.5 19.5H14.5C13.9477 19.5 13.5 19.0523 13.5 18.5Z" />
              <path d="M4.5 19.5L7.5 13.5L10.5 19.5H4.5Z" />
              <path
                d="M16.5 4.5C18.1569 4.5 19.5 5.84315 19.5 7.5C19.5 9.15685 18.1569 10.5 16.5 10.5C14.8431 10.5 13.5 9.15685 13.5 7.5C13.5 5.84315 14.8431 4.5 16.5 4.5Z" />
            </svg>
          </span>
          <div class="d-flex flex-column gap-2">
            <div class="d-flex justify-content-between align-items-center">
              <h4>{{ tableBody.title }}</h4>
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="text-black position-relative z-3"
                  aria-label="Example icon-button with a menu">
                  <mat-icon class="text-black">keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="editCategory.emit(tableBody.id)">
                    <mat-icon class="main-green-color">edit_square</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item type="button" (click)="delete.emit(tableBody.id)">
                    <mat-icon class="main-green-color">delete</mat-icon>
                    <span>Delete</span>
                  </button>
                  <button mat-menu-item type="button" (click)="view.emit(tableBody.id)">
                    <mat-icon class="main-green-color">visibility</mat-icon>
                    <span>View</span>
                  </button>
                </mat-menu>
              </div>
            </div>
            <p class="m-0">
              <span class="status text-center w-50" [ngClass]="{
                'toDo': tableBody.status == 'ToDo',
                'inProgress': tableBody.status == 'InProgress',
                'done': tableBody.status == 'Done'
              }">
                {{ tableBody.status }}
              </span>
            </p>
            <p class="m-0">{{ tableBody.description }}</p>
            <p class="m-0">{{ tableBody.employee.userName }}</p>
            <p class="m-0">{{ tableBody.project.title }}</p>
            <p class="m-0 d-flex justify-content-between align-items-center fs-6 time">
              <span>{{ tableBody.creationDate | date: 'short' }}</span>
              <span>{{ tableBody.modificationDate | date: 'short' }}</span>
            </p>
          </div>
          <div class="shine"></div>
          <div class="background">
            <div class="tiles">
              <div class="tile tile-1"></div>
              <div class="tile tile-2"></div>
              <div class="tile tile-3"></div>
              <div class="tile tile-4"></div>

              <div class="tile tile-5"></div>
              <div class="tile tile-6"></div>
              <div class="tile tile-7"></div>
              <div class="tile tile-8"></div>

              <div class="tile tile-9"></div>
              <div class="tile tile-10"></div>
            </div>

            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'Users'">
        <div class="card bg-white main-box-shadow" *ngFor="let tableBody of tableBodyContentOfUsers?.data">
          <span class="icon">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.2" stroke-linecap="round"
              stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4.5 9.5V5.5C4.5 4.94772 4.94772 4.5 5.5 4.5H9.5C10.0523 4.5 10.5 4.94772 10.5 5.5V9.5C10.5 10.0523 10.0523 10.5 9.5 10.5H5.5C4.94772 10.5 4.5 10.0523 4.5 9.5Z" />
              <path
                d="M13.5 18.5V14.5C13.5 13.9477 13.9477 13.5 14.5 13.5H18.5C19.0523 13.5 19.5 13.9477 19.5 14.5V18.5C19.5 19.0523 19.0523 19.5 18.5 19.5H14.5C13.9477 19.5 13.5 19.0523 13.5 18.5Z" />
              <path d="M4.5 19.5L7.5 13.5L10.5 19.5H4.5Z" />
              <path
                d="M16.5 4.5C18.1569 4.5 19.5 5.84315 19.5 7.5C19.5 9.15685 18.1569 10.5 16.5 10.5C14.8431 10.5 13.5 9.15685 13.5 7.5C13.5 5.84315 14.8431 4.5 16.5 4.5Z" />
            </svg>
          </span>
          <div class="d-flex flex-column gap-2">
            <div class="d-flex justify-content-between align-items-center">
              <h4>{{ tableBody.userName }}</h4>
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="text-white position-relative z-3"
                  aria-label="Example icon-button with a menu">
                  <mat-icon class="text-black">keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item type="button" (click)="block.emit(tableBody.id)">
                    <mat-icon class="main-green-color" *ngIf="!tableBody.isActivated">notifications</mat-icon>
                    <mat-icon class="main-green-color" *ngIf="tableBody.isActivated">notifications_off</mat-icon>
                    <span *ngIf="tableBody.isActivated">unBlock</span>
                    <span *ngIf="!tableBody.isActivated">Block</span>
                  </button>
                  <button mat-menu-item type="button" (click)="view.emit(tableBody.id)">
                    <mat-icon class="main-green-color">visibility</mat-icon>
                    <span>View</span>
                  </button>
                </mat-menu>
              </div>
            </div>
            <p class="m-0">
              <span class="status isActivated text-center w-50" *ngIf="tableBody.isActivated">Active</span>
              <span class="status notActivated text-center w-50" *ngIf="!tableBody.isActivated">Not Active</span>
            </p>
            <p class="m-0">{{ tableBody.phoneNumber }}</p>
            <p class="m-0">{{ tableBody.email }}</p>
          </div>
          <div class="shine"></div>
          <div class="background">
            <div class="tiles">
              <div class="tile tile-1"></div>
              <div class="tile tile-2"></div>
              <div class="tile tile-3"></div>
              <div class="tile tile-4"></div>

              <div class="tile tile-5"></div>
              <div class="tile tile-6"></div>
              <div class="tile tile-7"></div>
              <div class="tile tile-8"></div>

              <div class="tile tile-9"></div>
              <div class="tile tile-10"></div>
            </div>

            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'projectsEmployee'">
        <div class="card bg-white main-box-shadow" *ngFor="let tableBody of tableBodyEmployeeProject?.data">
          <span class="icon">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.2" stroke-linecap="round"
              stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4.5 9.5V5.5C4.5 4.94772 4.94772 4.5 5.5 4.5H9.5C10.0523 4.5 10.5 4.94772 10.5 5.5V9.5C10.5 10.0523 10.0523 10.5 9.5 10.5H5.5C4.94772 10.5 4.5 10.0523 4.5 9.5Z" />
              <path
                d="M13.5 18.5V14.5C13.5 13.9477 13.9477 13.5 14.5 13.5H18.5C19.0523 13.5 19.5 13.9477 19.5 14.5V18.5C19.5 19.0523 19.0523 19.5 18.5 19.5H14.5C13.9477 19.5 13.5 19.0523 13.5 18.5Z" />
              <path d="M4.5 19.5L7.5 13.5L10.5 19.5H4.5Z" />
              <path
                d="M16.5 4.5C18.1569 4.5 19.5 5.84315 19.5 7.5C19.5 9.15685 18.1569 10.5 16.5 10.5C14.8431 10.5 13.5 9.15685 13.5 7.5C13.5 5.84315 14.8431 4.5 16.5 4.5Z" />
            </svg>
          </span>
          <div class="d-flex flex-column gap-2">
            <div class="d-flex justify-content-between align-items-center">
              <h4>{{ tableBody.title }}</h4>
            </div>
            <p class="m-0">
              <span *ngIf="tableBody.task.length">
                {{tableBody.task.length}}
              </span>
              <span class="badge bg-secondary" *ngIf="!tableBody.task.length">
                No Tasks Yet
              </span>
            </p>
            <p class="m-0">{{ tableBody.description }}</p>
            <p class="m-0 d-flex justify-content-between align-items-center fs-6 time">
              <span>{{ tableBody.creationDate | date: 'short' }}</span>
              <span>{{ tableBody.modificationDate | date: 'short' }}</span>
            </p>
          </div>
          <div class="shine"></div>
          <div class="background">
            <div class="tiles">
              <div class="tile tile-1"></div>
              <div class="tile tile-2"></div>
              <div class="tile tile-3"></div>
              <div class="tile tile-4"></div>

              <div class="tile tile-5"></div>
              <div class="tile tile-6"></div>
              <div class="tile tile-7"></div>
              <div class="tile tile-8"></div>

              <div class="tile tile-9"></div>
              <div class="tile tile-10"></div>
            </div>

            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
          </div>
        </div>
      </ng-container>

    </ng-container>
  </div>

  <mat-paginator *ngIf="totalRecords" #paginator class="demo-paginator" (page)="handlePageEvent($event)"
    [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]" [pageIndex]="pageIndex"
    aria-label="Select page">
  </mat-paginator>
</section>
