ngx-dropzone {
  position: relative;
  margin-bottom: 2rem;
  width: 150px !important;
  height: 150px;
  border-radius: 50%;
  padding: 0.4rem;
  border: none;
  display: flex;
  justify-content: center;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ef9b2850;
  }

  ngx-dropzone-label {
    font-weight: bolder;
    font-size: 1.2rem;
  }

  @media screen and (max-width: 767px) {
    ngx-dropzone-label {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 425px) {
    ngx-dropzone-label {
      font-size: 0.8rem;
    }
  }
}

::ng-deep ngx-dropzone img {
  border-radius: 50% !important;
}
