<app-shared-header [headerBtnText]="'Add New Task'" [headerBtnVisibility]="true" [headerMainText]="'Tasks'"
  [headerBtnLink]="'add'"></app-shared-header>

<app-shared-table
  [tableHeaders]="tableHeaders"
  [tableDefinitionText]="'Tasks'"
  [tableBodyContent]="taskTableData"
  (editCategory)="willBeEdited($event)"
  (delete)="willBeDeleted($event)"
  (view)="willBeViewed($event)"
  (searchValueEnteredTasks)="this.getSearchVal($event)"
  (pageIndexChanged)="pageNumber($event)"
  (pageSizeChanged)="pageSize($event)"></app-shared-table>
