<div class="row">
  <!-- Sidebar Column -->
  <div class="col-12 p-0 m-0">
    <!-- Navbar Component -->
    <app-navbar></app-navbar>
  </div>
  <div class="p-0 m-0" [class]="!sidebarCollapsed ? 'col-md-2 p-0 ' : 'col-md-1 p-0 '" class="animatedToggle">
    <!-- Sidebar Component with sidebarCollapsed event listener -->
    <app-sidebar (sidebarCollapsed)="onToggleSidebar($event)"></app-sidebar>
  </div>
  <!-- Main Content Column -->
  <div class="m-0" [class]="!sidebarCollapsed ? 'col-md-10 p-0 ' : 'col-md-11 p-0 '" class="animatedToggle">
    <!-- Router Outlet for rendering dynamic content -->
    <router-outlet></router-outlet>
  </div>
</div>
