<app-shared-header [headerBtnText]="'Add New Project'" [headerBtnVisibility]="true" [headerMainText]="'Projects'"
  [headerBtnLink]="'add'"></app-shared-header>

  <app-shared-card></app-shared-card>

<app-shared-table
  [tableHeaders]="tableHeaders"
  [tableDefinitionText]="'projects'"
  [tableBodyContent]="projectTableData"
  (editCategory)="willBeEdited($event)"
  (searchValueEntered)="getSearchVal($event)"
  (pageIndexChanged)="pageNumber($event)"
  (pageSizeChanged)="pageSize($event)"
  (view)="willBeViewed($event)"
  (delete)="willBeDeleted($event)"
></app-shared-table>

